.TodoContainer {
    .TaskHeader {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        >div {
            display: flex;
            gap: 10px;
            align-items: flex-start;
            flex-direction: column;
        }

        .filtersTrigger {
            padding: 0 10px;
            display: flex;
            gap: 10px;
            align-items: center;
            border-radius: 4px;

            &.active {
                border: 1px solid var(--violet-10);
                background-color: var(--mauve-7);
            }

            &:hover {
                border: 1px solid #8354FE36;
                background-color: #f9f9f9;
            }

        }
    }

    .TaskList {
        padding: 0;
    }

    .TaskSessionItem {
        width: calc(100% - 40px);
    }

    .TaskItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;

        &:last-of-type {
            margin-bottom: 20px;
        }

        .task {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }

        .LeftContent {
            display: flex;
            height: fit-content;
            width: 100%;
            margin-right: 10px;

            .description {
                display: flex;
                width: 100%;
                padding: 0 10px;
                border-radius: 4px;

                &:hover {
                    border: 1px solid #8354FE36;
                    background-color: #f9f9f9;
                }
            }
        }

        .RightContent {
            display: flex;
            gap: 10px;
            align-items: center;
        }

        .react-datepicker-wrapper {
            height: var(--space-5);
            transform: translateY(-2px);

            input {
                width: unset;
                height: var(--space-5);
            }
        }

        .complete {
            opacity: 0.5;
        }
    }
}

.rt-Badge {
    &.priority {
        color: #EEEEF0;
    }

    &.comment-button {
        padding: 0;
        max-height: 20px;
    }
}

.comment-modal {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .comment {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-bottom: 10px;
    }

}

.progress-bar {
    width: 30%;
    max-width: 200px;
}

.rt-Box.TaskSessionContainer {
    display: flex;
    justify-content: center;
    padding: var(--space-5);

    .AccordionItem {
        min-width: 60vw;
    }

    .AccordionTrigger {
        .SessionInfo {
            flex: 1 0 0;
            justify-content: center;
            align-items: center;
        }

        .TaskOptions {
            display: flex;
            gap: 10px;
            align-items: center;
        }
    }

    .AccordionContent {
        align-items: center;

        .TaskSessionContent {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.rt-TabsContent {
    background-color: var(--mauve-2);

}

.DialogOverlay {
    background: rgba(0, 0, 0, 0.5);
}

.DialogContent {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.DialogTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.DialogDescription {
    font-size: 1rem;
    margin-bottom: 20px;
}

.Label {
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.TaskForm {

    .Input,
    .Select,
    .date-input input,
    .Textarea {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 1rem;
    }

}

.react-datepicker-wrapper {
    display: flex;
    flex: auto;

    .react-datepicker__input-container {
        display: contents;
    }
}

.Select {
    height: auto;
    /* Ensure dropdown values are not cut off */
}

.Button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.IconButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #333;
}